{% extends 'base.html.twig' %}

{% block title 'Créer la mission' %}

{% block body %}
        <div class="container mt-4">
            <h1>Créer une nouvelle categorie</h1>
            {{  include ('admin/categorie/_form.html.twig', {button: 'Créer une categorie'}) }}
        </div>

{% endblock %}