{% extends 'base.html.twig' %}

{% block title 'Créer la mission' %}

{% block body %}
        <div class="container mt-4">
            <h1>Créer une nouvelle mission</h1>
            {{  include ('admin/mission/_form.html.twig', {button: 'Créer une mission'}) }}
        </div>

{% endblock %}